{% import 'shared/forms.jinja2' as forms %}
{% extends 'shared/layout.jinja2' %}

{% block title %}
  Login Page
{% endblock %}

{% block content %}
  <h1>Login to your account</h1>
  
  <form action="" method="POST" class="form-signin">
    
    <dl>
      <dd>{{ forms.input(name='email', placeholder='Your Email Adress') }}</dd>
      <dd>{{ forms.input(name='password', type='password', placeholder='Your Password') }}</dd>
      <dd>{{ forms.submit(text='Login') }}</dd>
    </dl>
    
    {% if error %}
      <div class="alert alert-danger alert-dismissible">{{ error }}</div>
    {% endif %}
    
    <div class="checkbox mb-3">
      <h6>Do not have an account?</h6>
      <a class="btn btn-sm btn-secondary" href="/account/register">Register</a>
    </div>

  </form>
{% endblock %}
