{% import 'shared/forms.jinja2' as forms %}
{% extends 'shared/layout.jinja2' %}

{% block title %}
  Registration Page
{% endblock %}

{% block content %}
  <h1>Please Create your account</h1>
  {# <form method="POST" class="form-register" style="color:white"> #}
  <form action="" method="POST" class="form-register">
    <dl>  
      <dd>{{ forms.input(name='name', placeholder='Your Name') }}</dd>
      <dd>{{ forms.input(name='email', type='email', placeholder='Your Email Adress') }}</dd>
      <dd>{{ forms.input(name='password', type='password', placeholder='Your Password', minlength='5') }}</dd>
      <dd>{{ forms.submit(text='Register') }}</dd>
    </dl>
  </form>

  {% if error %}
    <div class="alert alert-danger alert-dismissible">{{ error }}</div>
  {% endif %}

  <div class="checkbox mb-3">
    <h6>Already have an account?</h6>
    <a class="btn btn-sm btn-secondary" href="/account/login">Login</a>
  </div>

{% endblock %}
