{% extends "shared/layout.jinja2" %}
{% block title %}
  About Page
{% endblock %}

{% block content %}
  <h1>Technologies used</h1>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">FastAPI</li>
    <li class="nav-item">Docker</li>
    <li class="nav-item">Heroku</li>
    <li class="nav-item">PostgresSQL (temporarily SQLite)</li>
    <li class="nav-item">jinja2</li>
    <li class="nav-item">HTML</li>
    <li class="nav-item">CSS</li>
    <li class="nav-item">JS</li>
  </ul>  
{% endblock %}
