{% extends "shared/layout.jinja2" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>

{% endblock %}

{% block content %}
  <style> 
    .bg-image { 
    /* The image used */ 
    {# background-image: url("../../static/img/background.jpg");    #}
    background-image: url( "{{ url_for('static', path='img/background.jpg') }}");   
    
    
    /* Add the blur effect */ 
    filter: blur(0px); 
    -webkit-filter: blur(0px); 
    
    /* Full height */ 
    height: 100%;  
    
    /* Center and scale the image nicely */ 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: fill; 
    } 
  </style> 
  
  <body class="bg-image"> 
    <div class="position-relative overflow-hidden pf-3 p-md-5 m-md-3 text-center bg-dark" style="color:white"> 
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Site with programming tutorials</h1>
        <p class="lead font-weight-normal">Start learning how to program by clicking the link below</p>
        <a class="btn btn-primary" href="{{ url_for('education') }}">Get Started</a> 
      </div>
      
      <div class="product-device box-shadow d-none d-md-block"></div>
      <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div> 
  </body>   
{% endblock %}
