{% macro input(name, value='', type='text', placeholder=None, minlength=None, maxlength=None, min=None, max=None) -%}
  <label>{{ placeholder or value }}</label><br> 
  <input class="form-control" name="{{ name }}" type="{{ type }}" value="{{ value|e }}" placeholder="{{ placeholder or name }}"
         maxlength="{{ maxlength }}" minlength="{{ minlength }}" max="{{ max }}" min="{{ min }}" required>
{%- endmacro %}

{%- macro textarea(name, value='', rows=10, cols=40) -%}
  <textarea name="{{ name }}" rows="{{ rows }}" cols="{{ cols }}" required>{{ value|e }}</textarea>
{%- endmacro %}

{%- macro submit(text='Submit',class='btn btn-lg btn-block btn-primary') -%}
  <button type='submit' class="{{ class }}">{{ text }}</button>
{%- endmacro %}
