<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>
      {% block title %}{% endblock %}
    </title>
    {# <link rel="stylesheet" href="{{ url_for('static', path="css/dropdown.css") }}" type="text/css"/>   #}
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="{{ url_for('home') }}"><img width=50 src="{{ url_for('static',path='img/logo_new.svg') }}"></a>  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>   
      </button>   
      <div class="collapse navbar-collapse" id="navbarNav">  
        <ul class="navbar-nav mr-auto">  
          <li class="nav-item">  
            <a class="nav-link" href="{{ url_for('about') }}">About <span class="sr-only">(current)</span></a>  
          </li>  
          <li class="nav-item">  
            <a class="nav-link" href="{{ url_for('education') }}">Education</a> 
          </li>
        </ul>  
        {% if is_logged_in %}   
          <ul class="navbar-nav">  
            <li class="nav-item">  
              <a class="nav-link" href="{{ url_for('account') }}">Account</a>  
            </li>
            <li class="nav-item">  
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>  
            </li>
          </ul>  
        {% else %}  
          <ul class="navbar-nav">  
            <li class="nav-item">  
              <a class="nav-link" href="{{ url_for('login_get') }}">Login</a>  
            </li>  
            <li class="nav-item">  
              <a class="nav-link" href="{{ url_for('register_get') }}">Register</a>  
            </li>  
          </ul>  
        {% endif %}  
      </div>  
    </nav> 
    {% block body %} {% endblock %}
    
    {# {% with messages = get_flashed_messages(with_categories=true) %} #}
    {# {% if messages %} #}
    {# {% for category, message in messages %} #}
    {# <div class="alert alert-{{ category }}"> #}
    {#   <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close"> #}
    {#     <span aria-hidden="true">&times;</span> #}
    {#   </button> #}
    {#   {{ message }} #}
    {# </div> #}
    {# {% endfor %} #}
    {# {% endif %} #}
    {# {% endwith %} #}
    <div class="content container text-center">
      {% block content %} {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
  
  <footer class="text-center">
    {% block footer %}
      {# &copy; Copyright 2022 by <a href="http://domain.invalid/">you</a>. #}
    {% endblock %}
  </footer>
  
</html>
