{% extends 'shared/layout.jinja2' %}
{% import 'shared/forms.jinja2' as forms %}

{% block title %}
  Do Exercises/Write Page
{% endblock %}

{% block content %}
  <h3>Question of Exercise no. {{ exercise.id }}</h3>
  <h4 style="italic">{{ exercise.question }}</h4>
  <form action="" method="POST" class="form-register"> 
    <dl>   
      <dd>{{ forms.input(name='answer', placeholder='Your Answer') }}</dd> 
      <dd>{{ forms.submit(text='Submit answer') }}</dd> 
    </dl> 
  </form>   
{% endblock %}
