{% extends 'shared/layout.jinja2' %}

{% block title %}
  Learn about programming here
{% endblock %}




{% block body %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', path='./css/w3.css') }}">
  <script src="{{ url_for('static', path='js/sidebar.js' ) }}"></script>
  
  <div class="w3-sidebar w3-bar-block w3-light-grey w3-card" style="width:160px;">
    {% for lang in languages %}
      
      <button class="w3-button w3-block w3-left-align" onclick="myAccFunc('{{ lang[0] }}')">{{ lang[0].upper() }}<i class="fa fa-caret-down"></i></button>
      <div id="{{ lang[0] }}" class="w3-hide w3-white w3-card">
        
        {% for ex in exercises %}
          {% if ex.language == lang[0] %}   
            <a href="/education/exercise/{{ ex.id }}" class="w3-bar-item w3-button">Exercise {{ ex.id }}</a>
          {% endif %}     
        {% endfor %}
        
      </div>
      
    {% endfor %} 
  </div>
  
  <div class="w3-container" style="margin-left:160px">
        <p>Cursus eget nunc scelerisque viverra mauris in. Neque egestas congue quisque egestas diam in. Vitae et leo duis ut diam quam. Dolor magna eget est lorem. Proin sed libero enim sed faucibus turpis. Suspendisse in est ante in nibh mauris cursus mattis. Auctor augue mauris augue neque gravida in fermentum et. Sit amet consectetur adipiscing elit pellentesque habitant. Sit amet facilisis magna etiam tempor orci eu lobortis. Tristique senectus et netus et malesuada fames ac. Eu tincidunt tortor aliquam nulla facilisi. Habitant morbi tristique senectus et netus et malesuada. Aliquam ultrices sagittis orci a scelerisque purus semper eget. Vestibulum lectus mauris ultrices eros in cursus turpis massa. Cursus mattis molestie a iaculis at. Urna molestie at elementum eu. Non enim praesent elementum facilisis leo.
</p>
    <p>Amet consectetur adipiscing elit duis tristique sollicitudin nibh. Dis parturient montes nascetur ridiculus mus. In metus vulputate eu scelerisque felis imperdiet proin fermentum. Consectetur adipiscing elit ut aliquam purus. Ullamcorper morbi tincidunt ornare massa. Velit scelerisque in dictum non consectetur a. Parturient montes nascetur ridiculus mus mauris vitae ultricies leo. Facilisi morbi tempus iaculis urna id volutpat lacus laoreet non. Fames ac turpis egestas sed tempus urna et pharetra pharetra. Et leo duis ut diam quam nulla porttitor massa id.
</p>
        <p>    Feugiat vivamus at augue eget arcu dictum varius. Ullamcorper malesuada proin libero nunc consequat interdum varius sit amet. Et odio pellentesque diam volutpat. Pellentesque massa placerat duis ultricies lacus sed turpis tincidunt. Ultricies leo integer malesuada nunc vel risus. Et ultrices neque ornare aenean euismod elementum nisi quis eleifend. Faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Nisi scelerisque eu ultrices vitae auctor eu augue ut lectus. Feugiat in ante metus dictum at tempor commodo ullamcorper. Tincidunt dui ut ornare lectus sit amet est placerat in. Enim tortor at auctor urna nunc. Sed euismod nisi porta lorem mollis aliquam ut. Sed velit dignissim sodales ut eu.
</p>
<p>Ipsum a arcu cursus vitae congue mauris rhoncus. Nunc id cursus metus aliquam eleifend mi in nulla. Placerat duis ultricies lacus sed turpis tincidunt id. Sapien pellentesque habitant morbi tristique senectus et netus et malesuada. Turpis nunc eget lorem dolor. Tempus egestas sed sed risus pretium quam vulputate dignissim suspendisse. Neque laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. Morbi tincidunt augue interdum velit euismod in pellentesque massa placerat. Consectetur a erat nam at. Pharetra sit amet aliquam id diam maecenas.</p>


    {# <h2>Sidebar Accordion</h2>   #}
    {# <p>In this example, we have added an accordion and a dropdown menu inside the side navigation.</p>   #}
    {# <p>Click on both to understand how they differ from each other. The accordion will push down the content, while the dropdown lays over the content.</p>   #}
    {# What do you want to do? #}
    {# Make some programming exercises? #}
    {# <a href="{{ url_for('exercises') }}">Write</a><br><br> #}

    {# Read and learn about programming before exercises? #}
    {# {\# <a href="{{ url_for('lessons') }}">Read</a> #\} #}
  </div>  
{% endblock %}



{# {% block content %}  #}
{#   {\#   {\\# <div class="form-group"> #\\} #\} #}
{#   {\#   {\\#   <label for="inputsm">Small input</label> #\\} #\} #}
{#   {\#   {\\#   <input class="form-control input-sm" id="inputsm" type="text"> #\\} #\} #}
{#   {\#   {\\# </div> #\\} #\} #}
{# {% endblock %}  #}


