{% extends 'shared/layout.jinja2' %}

{% block title %}
  Learn/Read Page
{% endblock %}
<ul>
  <li>
    <a href="#" class="active">
      <i class="fas fa-home icon"></i>
      Home
    </a>
  </li>
  <li><a href="#">
      <i class="fas fa-rss icon"></i>
      News
    </a>
  </li>
  <li><a href="#">
      <i class="fas fa-address-book icon"></i>
      Contact
    </a>
  </li>
  <li><a href="#"><i class="fas fa-user icon"></i>
      About
    </a>
  </li>
</ul>
{% block content %}
  {# {% for ex in exercises %} #}
  {#   <div class="title"><a href="/exercise/{{ ex.id }}">{{ ex.id }}</a></div> #}
  {#   <div class="desc">{{ p.summary }}</div> #}
  {# {% endfor %} #}
  
  <div class="row" style="margin-top:20px; margin-left:20px">
    <div class="col-8">
      <h2>Available Exercises on this Website</h2>
      <p>Click on one of the items to start buying</p>
      <br>
      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <!-- Your Columns HERE -->
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Barcode</th>
            <th scope="col">Price</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <!-- Your rows inside the table HERE: -->
          {% for item in items %}
            {% include 'includes/items_modals.html' %}
            <tr>
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.barcode }}</td>
              <td>{{ item.price }}$</td>
              <td>
                <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ item.id }}">More Info</button>
                <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-PurchaseConfirm-{{ item.id }}">Purchase this Item</button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <h2>Completed Exercises</h2>
      <p>Click on exercise to check more info</p>
      <br>
      <div class="row">
        {% for ex in done_exercises %}
          {% include 'includes/owned_items_modals.html' %}
          <div class="col-md-6">
            <div style="margin-bottom: 5px" class="card text-center bg-dark">
              <div class="card-body">
                <h5 class="card-title">{{ ex.question }}</h5>
                <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px"
                        data-toggle="modal" data-target="#Modal-SellingConfirm-{{ ex.id }}">
                        Sell this Item
                </button>
                <p class="card-text"><strong>
                    This exercise costs {{ ex.points }}$
                </strong></p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
